
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
 margin-left: 125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */

  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
input[type=file] {
      color: transparent !important;
  }
input[type=file]::before {
    content: "  Upload CV*";
    color: black;
    margin-right: 33%; 
    padding-right:120px;
}

.closeee {
  position:absolute;
  left:98.5%;
  bottom:98.5%;
z-index: 10;
height: 23px;
width: 23px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 8px;
 cursor: pointer;
}


.video-play-button {
  position: absolute;
  z-index: 10;
  bottom: 32%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 15px;
  height: 15px;
  background: transparent;
  border: 0px;
  
  padding: 9px 24px 18px 28px;
}
.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-30%) translateY(-30%);
  display: block;
  width: 65px;
  height: 65px;
  background:  #ffc451;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #ffc451;
  border-radius: 50%;
  transition: all 200ms;
  border: solid 4px #fff;
}


.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 18px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
0% {
  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  opacity: 1;
}
100% {
  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
  opacity: 0;
}
}

.clickhere
{


    color: #ffc451;
    background-color: transparent;
    border:0px;
  
}

.clickhere2
{


    color: black;
    background-color: transparent;
    border:0px;
  
}

.curimage
{
  height: 337px;
  width:600px;
}

.Modal {

  
margin: auto;
width: 600px;
  font-size: 1em;
 
  border-radius: 8px;
background-color: #fff;
  padding: 25px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
    
  margin-top: 100px;
}

.Modal::-webkit-scrollbar { width: 7px;height: 50px;background: linear-gradient(#feeab3,transparent); border-radius: 8px;}


.Modal::-webkit-scrollbar-thumb {  background: linear-gradient(#e3a702,transparent) ;border-radius: 8px;border:1px solid #e3a702;}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(191, 189, 189, 0.75);
}




.Modal2 {
  
  margin-top: 100px;
  margin: auto;
  margin-top: 100px;
  font-size: 1em;
    border:0px;
    background: #fff;
    border-radius: 8px;
    width: 500px;
    padding: 25px;
    height: 300px;
    
  }
  
  .Overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(191, 189, 189, 0.75);
  }
  @media (min-width: 1920px) and (max-width: 2560px)  {
    .Modal {
  
      margin-top: 150px;


    }
    .Modal2 {
  
      margin-top: 150px;


    }
}

  .ModalVid
  {
    height: 44%;
    width: 40%;
  }
  .Modal4 {
  margin: auto;
  top:56%;
  position: absolute;
  margin-top: -290px;
    width: 648px;
      
      background: #fff;
      border-radius: 8px;
      left:50%;
      padding: 1.5%;
      height: 580px;
      margin-left: -325px;
     
    }
    
    .Overlay4 {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:rgba(0, 0, 0, 0.9);
    }


.projdesc
{
  line-height: 1.2;
  height:178px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: justify;
  line-height: 1.25;
 
  

  justify-content: center;
}

.projdesc::-webkit-scrollbar { width: 7px;height: 50px;background: linear-gradient(#feeab3,transparent); border-radius: 8px;}


.projdesc::-webkit-scrollbar-thumb {  background: linear-gradient(#e3a702,transparent) ;border-radius: 8px;border:1px solid #e3a702;}



.projtit
{
  
 text-align: center;
 
 
 
}

.projkey
{
  
 text-align: center;
 color:#ffc451;

}
html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  color:#555555; 
}
.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
	

}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:34px;
	height:34px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
cursor: pointer;
}

.md-stepper-horizontal.yellow .md-step.active .md-step-circle {
	background-color:#ffc451;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}



.mycontainer
{
  margin: auto;

  
}

.application-container
{
  width:80%;
  margin:auto;
}




.scroll_div
{
  width:100%;
 height:500px;
   background-color: #26201f;
   overflow:scroll;
}




#exampleFormControlTextarea1::placeholder
{
  font-style: italic;
  font-size: 12px;
  padding: 5px;
}

.checkboxes
{
  margin-left: 10%;
}

.checkboxeslabel
{
  margin-left: 18%;
}

.form-group .form-control {
  padding: 2px;
}

.feedback
{
 
  font-size: 12px;
  color: red;
 
}

.joinourteam
{

background-color: #26201f;
height:auto;
width:100%;
height: 70%;
  
}

.long
{
  height: 700px;
  overflow-y:auto;
  overflow-x:hidden;
  background-color:#26201f;

  
}
.long::-webkit-scrollbar { width: 7px;height: 50px;background:transparent; border-radius: 8px;}


.long::-webkit-scrollbar-thumb {  background: #ffc451 ;border-radius: 8px;border:1px solid black;}
.topic
{
padding-top: 2%;
color: aliceblue;
font-family: 'IBM Plex Sans', sans-serif;
text-align: center;
font-size: 20px;



}



.topic:hover
{
  color: grey;
}
 .keywords
{
  color: #b3b1ab;
  font-family: 'IBM Plex Sans', sans-serif;
text-align: center;
font-size: 15px;
}

.jobdescription
{
  color:white;
  font-size: 16px;
  text-align: justify;
  line-height: 1.2;
  justify-content: center;
  font-family: 'Cabin', sans-serif;
  margin-left:5%;
}
.hiringtext
{
  font-size: 15px;
  font-weight:500;
  text-align: justify;
  justify-content: center;
}
.duration
{
  color: white;
  font-size: 14px;
   margin-left:5%;

}

.deadline
{
  color: #f5f1da;
  font-size: 14px;
  font-style: italic;
  position: absolute;
  left: 65%;
 bottom:0px;
  
}




@media only screen and (max-width: 900px) {
  .Modal
  {
width: 60%;
margin-left: 21%;
  }

  .Modal2
  {
width: 60%;
margin-left: 21%;
  }

}

@media only screen and (max-width: 400px) {
  .Modal2
  {
    width: 90%;
    margin-left: 10%;
    margin-top: 40%;
    height: 50%;
  }

  input[type=file]::before {
   
    margin-right:27%; 
    padding-right:0px;
}

.Modal4
 {
  width: 200px;
 }
}

@media only screen and (max-width: 600px) {

  .video-play-button {
    position: absolute;
    z-index: 10;
    bottom: 32%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 0px;
    
    padding: 9px 24px 18px 28px;
  }
  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-30%) translateY(-30%);
    display: block;
    width: 45px;
    height: 45px;
    background:  #ffc451;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }
  
  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 40px;
    height: 40px;
    background: #ffc451;
    border-radius: 50%;
    transition: all 200ms;
    border: solid 4px #fff;
  }
  
  
  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 18px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 12px solid transparent;
  }


  .topic {
   font-size: 16px;
  }

.keywords
{
  font-size:13px;
}
 .jobdescription
 {
   font-size:15px;
 }


 .Modal
 {
   width: 80%;
   margin-left: 10%;
   margin-top: 20%;
   height:82%;
   
 }


 .Modal2
 {
   width: 80%;
   margin-left: 10%;
   margin-top: 40%;
 }

 .Modal4
 {
   margin:auto;
  width: 280px;
  height: 500px;
  padding: 10px;
  
  margin-top: -250px;
  margin-left: -140px;

 }
 .curimage
 {
   margin-top: 10px;
   height: 163px;   width:290px;
 }

 .projkey
{
  
 text-align: center;
 color:#ffc451;

}
.projdesc
{
  font-size: 14px;
  height: 280px;
  padding:5px;


}
.closeee {
  position:absolute;
left: 100%;
bottom: 96%;
z-index: 10;
height: 18px;
width: 18px;

}

#snackbar {
margin:auto;
  min-width: 90px; /* Set a default minimum width */
  margin-left:-5px;
  font-size: 13px;
  
 /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  
}

}



.jobdescription a:link{
  color: orange;
}
.jobdescription a:hover
{
  color: white;
}

.notice
{
  font-style: italic;
  font-size: 13px;
  text-align: center;
}
/*=====================================================================*/

.portfolio .portfolio-item {
  margin-bottom: 0px;

}

 #app-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

 #app-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.6s ease-in-out;
  border-radius: 8px;
}

 #app-flters li:hover,  #app-flters li.filter-active {
  color: #151515;
  background: #ffc451;
}

 #app-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: black;
  font-weight: 600;
}















/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/



.portfolio .container
{
margin:auto;
  width: 80%;
 padding: 0px;
}

  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.6s ease-in-out;
    border-radius: 3px;
  }
  


   .portfolio #portfolio-flters li:hover{
    color: rgba(255,94,19);
    background-color: transparent;
  }
   .portfolio #portfolio-flters li.filter-active {
      color: #151515;
    background: #ffc451;
   }
  

  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: black;
    font-weight: 600;
  }
  

  

  @media only screen and (max-width: 600px) {
 
 
 
    .section-title p
    {
      font-size: 20px;
    
    }
    .section-title
    {
      
      margin-bottom: 0px;
    }

    .portfolio #portfolio-flters {
      padding: 0;
      margin: 5px 5px 5px 5px;
      list-style: none;
      text-align: center;
    }
    
    .portfolio #portfolio-flters li {
      cursor: pointer;
      display: inline-block;
      padding: 8px 8px 8px 8px;
      font-size: 12px;
      font-weight: 600;
      line-height: 1em;
      text-transform: uppercase;
      color: #444444;
      margin-bottom: 0px;
      margin-top:0px;
      transition: all 0.6s ease-in-out;
      border-radius: 3px;
    }

    

.portfolio .container
{
margin:auto;
  width: 330px;
 
}
    
  }





  @media only screen and (max-width: 800px) {
 
    
 
    

.portfolio .container
{
margin:auto;
  width: 330px;
 
}
    
  }

  

  @media only screen and (min-width:1000px) and (max-width:1400px) {
 
    
    

.portfolio .container
{
margin:auto;
  width: 1600px;
 
}
    
  }



  @media only screen and (min-width:1000px) and (max-width:1200px) {
 
    
   

.portfolio .container
{
margin:auto;
  width: 1600px;
 
}
    
  }



