
/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
    padding-top: 20px;
}
.cl0
{
    width: 80%;
    float: left ;
    color: black;
    margin-inline-start: 50px;
}
.jumbotron
{
    padding-top: 10px !important;
}
.images img{
    width: 100%;
    height: 90%;
    padding-top: 10px;
}
.images p{
    font-size: 20px!important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 15px !important;

}
.cl1
{
    width: 80%;
    float: right;
    color: black;
    margin-inline-end: 50px;
}
.features .icon-box {
    padding-left: 15px;
}

.features .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
}

.features .icon-box i {
    font-size: 48px;
    float: left;
    color: #ffc451;
}

.features .icon-box p {
    font-size: 15px;
    color: #848484;
    margin-left: 60px;
}

.features .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}
  