



.swiper-container  {
    width: 80%;

    overflow:hidden;
  }

.wrapper
{
  display: flex;
 
  align-items: center;
  justify-content: center;
  margin: auto;
}
 

 .heading{
  padding-bottom: 25px;
  padding-left: 17%;
  font-size: 1.9vw;
  font-weight: 500;
  color: black;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
  0px -4px 10px rgba(255,255,255,0.3);
  left:80px;
 
}

 .swiper-button-next {   background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;   ;background-image: url('../Images/next.png')!important;  background-size: 70%;}
  .swiper-button-prev { background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;  ;background-image: url('../Images/prev.png')!important; background-size: 70%; }
.text
{
   
    background-color: #FAFAFA;
   float: right;
    color:  #636363 ;
    height: 320px;
    padding-right: 30px;
    padding-left: 40px;
   
   
}
img.responsive{
      

  height:auto;
  width: 100%;
  
  
  
}

img.responsive_mob{
      
  float: left;
  height:256px;
  width: 424px;
  display: none;
  
  
  
  
}
 #column1 {


 
  margin-right:1%;
  width:50%;

}

#column2 { 
 
  overflow:hidden;
 margin-left: 2%;
margin-right: 5%;
  min-height:170px;
  
  width:45%;
 font-size:14px;
 text-align: justify;
 line-height: 1.60;


}


#columnmid { 
 display:none;
  overflow:hidden;
  margin-left: 50px;
padding-right: 30px;

  width: 480px;
  height: 120px;
 text-align: justify;
 line-height: 1.7;
 margin-right: 60px;
 


}
@media (min-width: 1300px) and (max-width: 2560px)  {
 #column2
 {
  font-size:1.1vw;
 }
}

@media screen and (max-width: 1300px) {
 img.responsive{

  height:280px;
  width: 400px;
  

 }
 

 #column1{
  width: 400px;
  margin-right:20px;
  padding-top: 20px;
 }
 
 #column2{
   padding-top: 0%;
  width: 490px;
 padding-left: 20px;
 line-height: 1.6;
 }
 
  
  .swiper-container  {
  width:1000px;
}

.heading
{
  padding-left: 70px;
}
}



@media screen and (max-width: 1000px) {
  .wrapper
  {
    flex-direction: column;
   

    
  }
  img.responsive{
padding-top: 0px;
    height:280px;
    width: 500px;
    margin-left: -15%;
   }

#column2
{
  padding-top: 5%;
  margin-left: -5%;
}
 .heading
 {
   font-size: 20px;
   padding-bottom: 0px;
   padding-left: 180px;
  
 }  

  
  .swiper-container  {
  width:640px;
}

}





@media screen and (max-width: 700px) {
  .wrapper
{
  padding: 0%;
  display: block;
  margin: auto;
  margin-left: 0%;
  height: 770px;
  
}
  img.responsive{

    
    display: none;
  
   }
   img.responsive_mob{

    height:auto;
    width: 100%;
    display: block;
 
    margin-left: 0px;
  
  
   }

  #column1 { 
   float: center;
   margin-left:-5%;
   width:320px;


   
   
  }

 
  #column2{
    width: 340px;
    height: 500px;
   margin-left: 10px;
  padding-top: 20px;
   padding-right: 80px;
   font-size: 14px;
   padding-left: 10px;

   }

   

   
.heading
{
  
  padding-left: 40px;
  font-size: 25px;
  padding-bottom: 0px;
  

}


  
  .swiper-container  {
  width:320px;
  height: 100%;
 
}

.swiper-button-next {   background-repeat: no-repeat;

  background-position: center;   ;background-image: url('../Images/next.png')!important;  background-size: 60%;}
.swiper-button-prev { background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;  ;background-image: url('../Images/prev.png')!important; background-size: 60%; }


}

  

  .swiper-pagination {
    bottom: 0;
    padding-bottom: 10px;
  }
  
  .swiper-wrapper {
    padding-inline-start: 0px;
   
  }

 

    
  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev::after {
    display: none;
  }
      .swiper-slide {
        background-color: #FAFAFA; 
        font-size: 18px;
        line-height: 1.8;
        box-sizing: border-box;
        
        padding-top: 1%;
        padding-bottom: 5%;
        padding-left: 5%;
      }

  






.swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color:  #CFCFCF ;
    opacity: 1;
 
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ffb03b;
  }
  .box {
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(248, 248, 248);
 
    border-radius: 5px;
  }
  
